<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#" routerLinkActive="active" routerLink="">Home</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/pagination">Pagination Demo</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/params">Reading URI and Query Params</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/date-picker">Date Picker</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/forms">Forms (Reactive)</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/forms">Forms (Template Driven)</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/datatable">Datatable</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/angular5csv">Angular5csv</a></li>
    <li role="presentation"><a href="#" routerLinkActive="active" routerLink="/pdf-download">Pdf Download</a></li>
    </ul>
</body>
</html>
