<div class="container">
    <h4>Welcome to Demo App</h4>
    <p>
        In this app,<br>
        1) angular2-datatable i.e mfDataTable<br>
        2) Routing,Reading query params, URI params, passing optional params.<br>
        3) md2 Datepicker with pipes.<br>
        4) Bootstrap datatable with export options.<br>
        5) angular5-csv<br>
        6) Pdf file download from server api response<br>
        7) Observable Service<br>
        8) Lazy Loading of Modules<br>
        9) Pipes and Custom Pipes<br>
    </p>
</div>
